<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demos.mapper.PersonMapper">
    <insert id="insertList" parameterType="com.example.demos.entity.Person">
        insert into person (name, phone, salary, company, if_single, sex, address, create_time, create_user)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.name}, #{item.phone}, #{item.salary}, #{item.company}, #{item.ifSingle}, #{item.sex},
            #{item.address}, now(), #{item.createUser})
        </foreach>
    </insert>
</mapper>